pipeline/Metadata_LastModifiedDate.json
{
	"name": "Metadata_LastModifiedDate",
	"properties": {
		"activities": [
			{
				"name": "Get_MetaData_LastModified",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "azurestoragemb_blob_input_tq",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					]
				}
			},
			{
				"name": "usp_InsertLastModifiedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_MetaData_LastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertLastModifiedDate]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('Get_MetaData_LastModified').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedDate": {
							"value": {
								"value": "@activity('Get_MetaData_LastModified').output.lastModified",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecordInsertDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_SQLDB_PWAzureTraining",
					"type": "LinkedServiceReference"
				}
			}
		]
	}
}